.container {
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.backgroundF {
  background-image: url("../../../public/assets/img/wp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}


.media {
  flex-basis: 40%;
}
.short{
  display: block;
  width: 33vw;
  height: auto;
  border-radius: 10px;
}
.long{
  display: block;
  width: 33vw;
  height: 33vw;
  border-radius: 10px;
}
.review {
  flex-basis: 60%;
  padding: 20px;
}
.review h2 {
  font-size: 24px;
  margin-top: 0;
}
.review p {
  font-size: 16px;
  line-height: 1.5;
}
.trailer {
  display: block;
  width: 100%;
}
.container{
  border-radius: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  
}

@media screen and (max-width: 480px) {
  .container{
    flex-direction: column;
  }
  .short{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .long{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

@media screen and (min-width: 769px) {
  
}