.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.card-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-list-img {
  width: 30vw;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card-list-img img {
  width: 30vw;
  height: auto;
  object-fit: cover;
}

.card-item p {
  font-size: 1.2rem;
  text-align: center;
  color: #333;
}
