/* Estilos para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
#letters{
  width: 45vw;
}
#cultlogo{
  width: 8vw;
}
.botones select#category-select:hover {
  background-color: red;
  color: black;
}

.botones select#category-select {
  background-color: black;
  color: red;
  border: 2px solid red;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.botones select#category-select option {
  background-color: black;
  color: red;
}


label {
  font-weight: bold;
  margin-right: 1rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M8.785 3.215L5 6 1.215 3.215a.5.5 0 01.707-.707L5 4.293l3.078-3.078a.5.5 0 01.707.707z" fill="%23ccc" fill-rule="nonzero"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.5rem 0.5rem;
}

select:focus {
  outline: none;
  border-color: #333;
}

/* Style the options within the dropdown */
select option {
  background-color: #fff;
  color: #333;
}

/* Media queries para hacer el header responsive */
@media screen and (min-width: 769px) {
  .header {
    text-align: center;
  }
  .botones{
    display: flex;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    text-align: center;
  }
  .imagenes{
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 480px) {
  .header {
    text-align: center;
  }
  .imagenes{
    display: flex;
  }
}
