/* Estilos para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
#letters{
  width: 25%;
}
#cultlogo{
  width: 10%;
}
/* Estilos para el botón */
.btn-home {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Estilos para el botón cuando se le hace hover */
.btn-home:hover {
  background-color: #ccc;
}

label {
  font-weight: bold;
  margin-right: 1rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M8.785 3.215L5 6 1.215 3.215a.5.5 0 01.707-.707L5 4.293l3.078-3.078a.5.5 0 01.707.707z" fill="%23ccc" fill-rule="nonzero"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.5rem 0.5rem;
}

select:focus {
  outline: none;
  border-color: #333;
}

/* Style the options within the dropdown */
select option {
  background-color: #fff;
  color: #333;
}


/* Media queries para hacer el header responsive */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  
  .btn-home {
    margin-top: 1rem;
  }
}
