/* Estilos para el footer */
.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Estilos para los enlaces de redes sociales en el footer */
.social-link {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.3s ease;
  display: flex;
  margin-top: 2%;
}

/* Estilos para los enlaces de redes sociales cuando se les hace hover en el footer */
.social-link:hover {
  color: #ccc;
}

.imgicon {
  width: 1.5em;
  height: 1.5em;
  margin-top: 15%;
  margin-right: 5%;
}

.imgicontop {
  width: 2em;
  height: 2em;
  margin-top: 20%;
  margin-right: 5%;
}

/* Media queries para hacer el footer responsive */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer__social {
    margin-top: 1rem;
  }

  /* Estilos para el texto de información en el footer */
  .footer__info {
    width: 95%;
    font-size: 0.5em;
    position: absolute;
  }
}


@media screen and (max-width: 480px) {
  .footer__info {
    width: 95%;
    font-size: 0.5em;
    position: absolute;
  }
}

@media screen and (min-width: 769px) {
  .footer__info {
    width: 95%;
    font-size: 0.5em;
    position: absolute;
  }
}
.footer__info {
  text-align: center;
}