html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.backgroundM {
  background-image: url("../../../public/assets/img/shfb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  
}

@media screen and (max-width: 480px) {
  
}

@media screen and (min-width: 769px) {
  
}